<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.example.android.employee"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.employee.CatalogActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.employee.EditorActivity"
            android:theme="@style/EditorTheme"
            android:parentActivityName="com.example.android.employee.CatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.employee.CatalogActivity" />
        </activity>
        <provider
            android:name="com.example.android.employee.data.EmployeeProvider"
            android:authorities="com.example.android.employee"
            android:exported="false" />
        <!--Exported gives the ability if your content provider is visible to other apps-->
    </application>

</manifest>